<ul class="nav-links">
            <li class="dropdown">
                <a href="index.html">Home ▾</a>
                <div class="dropdown-content">
                    <a href="index.html#welcome">Headteacher's Welcome</a>
                    <a href="index.html#vision">Vision & Values</a>
                    <a href="index.html#news">Latest News</a>
                    <!-- Added Policies under Home -->
                    <a href="policies.html">Policies</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="#about">About Us ▾</a>
                <div class="dropdown-content">
                    <a href="our-staff.html">Meet the Staff</a>
                    <a href="#governors">Governors</a>
                    <a href="#admissions">Admissions</a>
                    <a href="policies.html">Policies & Safeguarding</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="#curriculum">Learning ▾</a>
                <div class="dropdown-content">
                    <a href="#subjects">Curriculum Subjects</a>
                    <a href="#sen">SEND Support</a>
                    <a href="#clubs">Clubs & Enrichment</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="#parents">Parents Hub ▾</a>
                <div class="dropdown-content">
                    <a href="#letters">Letters Home</a>
                    <!-- Explicit link to calendar.html -->
                    <a href="calendar.html">Term Dates</a>
                    <a href="#uniform">Uniform Guidelines</a>
                    <a href="#pta">PTA (Friends of St. Eanswythe's)</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="#contact">Contact ▾</a>
                <div class="dropdown-content">
                    <a href="#details">Contact Details & Map</a>
                    <a href="#vacancies">Staff Vacancies</a>
                </div>
            </li>
        </ul>
